{{!-- display all task packages belonging to the project --}}

<h1>{{project.name}}</h1>
{{log project._id}}
<div class="container-fluid">
  <div class="row">
    {{#each packages}}
      <div class="col-sm-6 col-xl-4">
        <div class=" card bg-light">
          <div class="card-body">
            <h4>{{this.name}}</h5>
          </div>
          <form action="/project/modifyContent/{{@root.project._id}}/{{this._id}}" method="POST">
            <ul class="list-group list-group-flush">

              {{#each toDos}}
                <div class="list-group-item to-do-item">
                  <span class="col-6">
                    <input type="checkbox" {{#if isDone}} checked="checked" {{/if}} id= {{_id}} name= {{_id}} value="true">
                    <label class="form-check-label" for= {{_id}}>{{task}}</label>
                  </span>
                  <span class="float-right">
                    <input type="checkbox" id="delete-{{_id}}" name="delete-{{_id}}" value="true">
                    <label class="form-check-label" for= {{_id}}>
                      <i class="fas fa-trash-alt"></i>
                  </span>
                  </label>
                </div>
              {{/each}}
              <button type="submit" class="btn">Save</button>
            </ul>
          </form>
        </div>
      </div>
    {{/each}}
  </div>

</div>