<div class="row align-items-center">
  <h1 class="col-12 col-lg-6 text-center ">{{project.name}}</h1>
  <div class="col-6 col-lg-3 text-center">
    <button class="btn btn-outline-secondary new-task-package btn-project-view" href="/project/new-package">Add Task-Package </button>
    {{!-- TODO : ADD MEMBER --}}
  </div>
  <div class="col-6 col-lg-3 text-center">
    <a class="btn btn-outline-secondary btn-project-view" href="project/add-member">Add Member</a>
  </div>
</div>
<div class="row">
  {{#each packages}}
    <div class="col-sm-6 col-xl-4 top-buffer">
      <div class="opacity-95 card bg-light">
        <div class="card-header card-to-dos-header">

          <h4 class="d-inline">{{this.name}}</h4>
          <div class="float-right text-right">
            <a class="font-weight-light small align-baseline text-right" href="/project/package/delete/{{@root.project._id}}/{{this._id}}">DELETE</a>
            </br>
            <a class="font-weight-light small align-baseline text-right" href="/project/package/edit/{{@root.project._id}}/{{this._id}}">EDIT</a>
          </div>
          <p class="card-text">{{this.description}}</p>
        </div>
        <form action="/project/modifyContent/{{@root.project._id}}/{{this._id}}" method="POST">
          <ul class="list-group list-group-flush card-to-dos">
            <li class="list-group-item to-do-item border-0">
              <textarea type="text" class="form-control new-task-input" name="new-todo" placeholder="Next stuff!"></textarea>
            </li>
            {{#each toDos}}
              <li class="list-group-item to-do-item border-0">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text  {{#if isDone}}checked-task {{else}} unchecked-task {{/if}}">
                      <input type="checkbox" {{#if isDone}} checked="checked" {{/if}} id= {{_id}} name= {{_id}} value="true">
                    </div>
                  </div>
                  <textarea type="text" class="form-control non-resize {{#if isDone}} checked-task-input {{else}} unchecked-task-input {{/if}}"
                    name="value-{{_id}}">{{task}}</textarea>
                  <div class="input-group-append">
                    <div class="input-group-text {{#if isDone}}checked-task{{else}} unchecked-task {{/if}}">
                      <input type="checkbox" id="delete-{{_id}}" name="delete-{{_id}}" value="true">
                      <label class="form-check-label" for="delete-{{_id}}">
                        <i class="fas fa-trash-alt"></i>
                      </label>
                    </div>
                  </div>
                </div>
              </li>
            {{/each}}
            <li class="list-group-item to-do-item border-0">
              <button type="submit" class="btn btn-outline-secondary btn-block btn-to-do-save">Save</button>
            </li>
          </ul>
        </form>
      </div>
    </div>
  {{/each}}

</div>