{{!-- display the user's information (name, ...) and the user's projects --}}
{{!-- header block --}}
<div class="flexContainer">
  <div class="profileTop">
    <img id="profilePic" src={{user.imgUrl}} />
  </div>
  <div class="profileTop">
    <h2>{{user.username}}</h2>
    <p>{{user.email}}</p>
  </div>
  <div class="profileTop">
    <img id="settingsIcon" src="/images/Zahnrad.gif" />
  </div>
</div>
{{!-- middle block --}}
<div class="flexContainer flexColumn">
  <ul id="profileListContainer" class="profileList">
    {{#each user._projects}}
      <li class="profileSiteLi">
        <a class="btn btn-primary btn-block project" href="/project/show/{{this._id}}" role="button">{{this.name}}</a>
      </li>
    {{/each}}
  </ul>
</div>
{{!-- bottom block --}}
<div class="flexContainer flexColumn">
  <ul id="profileListContainer" class="profileList">
    {{#each user._ideas}}
      <li class="profileSiteLi">
        <a class="btn btn-primary btn-block idea" href="/project/idea/{{this._id}}" role="button">{{this.name}}</a>
      </li>
    {{/each}}
  </ul>
</div>